<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--	
	mybatis-userservice-mapping.xml : SQL 를 갖는 설정화일 (MetaData) 
	- MyBatis Framework 은 XML MetaData를 사용 SQL구문을 관리하며,
	  (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 의 외부로 분리함)
	- SQL문의 입력(?) / 출력(?)을 매핑한다.  <== 아래의 select element 참조
 -->
 
<!-- SQL definition -->
<mapper namespace="MemberMapper">
	
	<insert id="registerMember">
		INSERT 
		INTO member1(id, password, name, address)
		VALUES( #{id}, #{password}, #{name}, #{address})
	</insert>
	
	<delete id="deleteMember" parameterType="memberVO">
		DELETE member1
		WHERE id = #{id}
	</delete>
	
	<update id="updateMember" parameterType="memberVO">
		UPDATE member1 
		SET name = #{name}, address = #{address}
		WHERE id = #{id}
	</update>
	
	<select id="showAllMember" resultType="memberVO">
		SELECT 
		id, password, name, address
		FROM member1
	</select>
	
	<select id="getMember" resultType="memberVO" parameterType="memberVO">
		SELECT 
		id, password, name, address
		FROM member1
		WHERE id = #{id}
	</select>
	
	<select id="login" resultType="memberVO" parameterType="memberVO">
		SELECT 
		id, password, name, address
		FROM member1
		WHERE id = #{id} AND password = #{password}
	</select>

	
</mapper>